@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities"; // add css utilities

html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.success {
  color: #155724;
}
.error {
  color: #721c24;
}
.waiting {
  color: #856404;
}
.actions {
  text-align: end;
}
.player {
  text-transform: capitalize;
  line-height: 24px;
}
.input {
  width: 100%;
}
.result {
  text-align: center;
}
.slider,
.name {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
table {
  width: 100%;
}
@include media-breakpoint-down(xs) {
  .material-icons {
    font-size: 18px;
  }
  .result__icon.mat-icon {
    height: 18px;
    width: 18px;
  }
}
