@import "~@angular/material/theming";

// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$default-app-primary: mat-palette($mat-indigo);
$default-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$default-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$default-app-theme: mat-light-theme(
  (
    color: (
      primary: $default-app-primary,
      accent: $default-app-accent,
      warn: $default-app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($default-app-theme);

//Additional themes
$yellow-palette: (
  50: #fef6e9,
  100: #fbe7c7,
  200: #f9d8a2,
  300: #f7c87d,
  400: #f5bc61,
  500: #f3b045,
  600: #f1a93e,
  700: #efa036,
  800: #ed972e,
  900: #ea871f,
  A100: #ffffff,
  A200: #fff6ed,
  A400: #ffdbba,
  A700: #ffcea1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$yellow-primary: mat-palette($yellow-palette, 900);
$yellow-accent: mat-palette($yellow-palette, 100);

// The warn palette is optional (defaults to red).
$yellow-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$yellow-theme: mat-light-theme(
  (
    color: (
      primary: $yellow-primary,
      accent: $yellow-accent,
      warn: $yellow-warn,
    ),
  )
);

.yellow-theme {
  background: mat-color($yellow-palette, 500);
  color: mat-contrast($yellow-palette, 500);
  @include angular-material-color($yellow-theme);
}

$blue-palette: (
  50: #e6eff6,
  100: #c1d7e9,
  200: #98bcda,
  300: #6ea1cb,
  400: #4f8cbf,
  500: #3078b4,
  600: #2b70ad,
  700: #2465a4,
  800: #1e5b9c,
  900: #13488c,
  A100: #c0d9ff,
  A200: #8dbaff,
  A400: #5a9cff,
  A700: #418cff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$blue-primary: mat-palette($blue-palette, 900);
$blue-accent: mat-palette($blue-palette, 100);

// The warn palette is optional (defaults to red).
$blue-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$blue-theme: mat-light-theme(
  (
    color: (
      primary: $blue-primary,
      accent: $blue-accent,
      warn: $blue-warn,
    ),
  )
);

.blue-theme {
  background: mat-color($blue-palette, 500);
  color: mat-contrast($blue-palette, 500);
  @include angular-material-color($blue-theme);
}

$amethyst-palette: (
  50: #f2edf5,
  100: #dfd2e5,
  200: #c9b4d4,
  300: #b396c2,
  400: #a380b5,
  500: #9369a8,
  600: #8b61a0,
  700: #805697,
  800: #764c8d,
  900: #643b7d,
  A100: #eccfff,
  A200: #d89cff,
  A400: #c569ff,
  A700: #bb4fff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$amethyst-primary: mat-palette($amethyst-palette, 900);
$amethyst-accent: mat-palette($amethyst-palette, 100);

// The warn palette is optional (defaults to red).
$amethyst-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$amethyst-theme: mat-light-theme(
  (
    color: (
      primary: $amethyst-primary,
      accent: $amethyst-accent,
      warn: $amethyst-warn,
    ),
  )
);

.amethyst-theme {
  background: mat-color($amethyst-palette, 500);
  color: mat-contrast($amethyst-palette, 500);
  @include angular-material-color($amethyst-theme);
}

$dark-palette: (
  50: #e8e9ea,
  100: #c7c8cb,
  200: #a1a4a9,
  300: #7b7f86,
  400: #5f636c,
  500: #434852,
  600: #3d414b,
  700: #343841,
  800: #2c3038,
  900: #1e2128,
  A100: #71a0ff,
  A200: #3e7eff,
  A400: #0b5cff,
  A700: #0050f1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$dark-primary: mat-palette($dark-palette, 900);
$dark-accent: mat-palette($dark-palette, 100);

// The warn palette is optional (defaults to red).
$dark-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$dark-theme: mat-light-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

.dark-theme {
  background: mat-color($dark-palette, 500);
  color: mat-contrast($dark-palette, 500);
  @include angular-material-color($dark-theme);
}

$rust-palette: (
  50: #f6ece9,
  100: #e8cfc7,
  200: #d9afa2,
  300: #ca8f7c,
  400: #be7760,
  500: #b35f44,
  600: #ac573e,
  700: #a34d35,
  800: #9a432d,
  900: #8b321f,
  A100: #ffcfc6,
  A200: #ffa493,
  A400: #ff7960,
  A700: #ff6447,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$rust-primary: mat-palette($rust-palette, 900);
$rust-accent: mat-palette($rust-palette, 100);

// The warn palette is optional (defaults to red).
$rust-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$rust-theme: mat-light-theme(
  (
    color: (
      primary: $rust-primary,
      accent: $rust-accent,
      warn: $rust-warn,
    ),
  )
);

.rust-theme {
  background: mat-color($rust-palette, 500);
  color: mat-contrast($rust-palette, 500);
  @include angular-material-color($rust-theme);
}

$green-palette: (
  50: #f3fbf5,
  100: #e2f4e6,
  200: #cfedd6,
  300: #bce6c6,
  400: #ade0b9,
  500: #9fdbad,
  600: #97d7a6,
  700: #8dd29c,
  800: #83cd93,
  900: #72c483,
  A100: #ffffff,
  A200: #ffffff,
  A400: #daffe2,
  A700: #c1ffcd,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$green-primary: mat-palette($green-palette, 900);
$green-accent: mat-palette($green-palette, 100);

// The warn palette is optional (defaults to red).
$green-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$green-theme: mat-light-theme(
  (
    color: (
      primary: $green-primary,
      accent: $green-accent,
      warn: $green-warn,
    ),
  )
);

.green-theme {
  background: mat-color($green-palette, 500);
  color: mat-contrast($green-palette, 500);
  @include angular-material-color($green-theme);
}
