.listplayers {
  list-style: none;
  margin: 0;
  padding: 0;
}
.player__name {
  text-transform: capitalize;
  line-height: 26px;
}
.player__status {
  border-radius: 5px;
  padding: 3px 6px;
  float: right;
}
.player__status--ready {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.player__status--notready {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
