<div class="container">
  <h2 class="mb-5">Waiting for other players to join</h2>
  <div class="row">
    <div class="col-12">
      <ul class="listplayers">
        <li *ngFor="let player of allPlayers" class="player mb-3">
          <span class="player__name">{{ player._data.name }}</span>
          <ng-template [ngIf]="player._data.ready">
            <span class="player__status player__status--ready">Ready </span>
          </ng-template>
          <ng-template [ngIf]="!player._data.ready">
            <span class="player__status player__status--notready"
              >Not ready
            </span>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 actions mt-4">
      <button
        mat-raised-button
        color="primary"
        class="mr-2"
        (click)="onReady()"
        [disabled]="isReadyBtnDisabled"
      >
        Ready
      </button>
      <button mat-raised-button color="accent" class="mr-2" (click)="onCopy()">
        Copy invite link
      </button>
      <button mat-raised-button color="accent" routerLink="/">Back</button>
    </div>
  </div>
</div>
