<!--Waiting for game to be created-->
<ng-template [ngIf]="!gameService.isGameCreated">
  <mat-spinner></mat-spinner>
</ng-template>
<!--Waiting List-->
<ng-template
  [ngIf]="
    !gameService.isGameStarted &&
    !gameService.isGameFinished &&
    gameService.isGameCreated
  "
>
  <app-waiting [allPlayers]="gameService.allPlayers"></app-waiting>
</ng-template>
<!--Board Game -->
<ng-template [ngIf]="gameService.isGameStarted && !gameService.isGameFinished">
  <app-board [gameData]="gameService.gameData"></app-board>
</ng-template>
<!--Results Dialog-->
<ng-template [ngIf]="gameService.isGameFinished">
  <app-result [allPlayers]="gameService.allPlayers"></app-result>
</ng-template>
