<div class="container">
  <!--Waiting List-->
  <ng-template
    [ngIf]="!gameService.isGameStarted && !gameService.isGameFinished"
  >
    <h2 class="mb-5">Waiting for other players to join</h2>
    <div class="row">
      <div class="col-12">
        <app-waiting [allPlayers]="gameService.allPlayers"></app-waiting>
      </div>
      <div class="col-12 actions mt-4">
        <button
          mat-raised-button
          color="primary"
          class="mr-2"
          (click)="onReady()"
        >
          Ready
        </button>
        <button
          mat-raised-button
          color="accent"
          class="mr-2"
          (click)="onCopy()"
        >
          Copy invite link
        </button>
        <button mat-raised-button routerLink="/">Back</button>
      </div>
    </div>
  </ng-template>
  <!--Game Board-->
  <ng-template
    [ngIf]="gameService.isGameStarted && !gameService.isGameFinished"
  >
    <div class="row">
      <div class="col">
        <app-board [gameData]="gameService.gameData"></app-board>
      </div>
    </div>
  </ng-template>
  <!--Results Dialog-->
  <ng-template [ngIf]="gameService.isGameFinished">
    <h2 class="mb-5">Results</h2>
    <div class="row">
      <div class="col">
        <app-result [allPlayers]="gameService.allPlayers"></app-result>
      </div>
    </div>
  </ng-template>
</div>
