<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="">Rounds:</h2>
      <div class="d-flex">
        <div
          class="flex-fill result"
          *ngFor="let roundResult of gameService.roundsResults"
        >
          <ng-template [ngIf]="roundResult === true">
            <mat-icon class="success">check_circle_outline</mat-icon>
          </ng-template>
          <ng-template [ngIf]="roundResult === false">
            <mat-icon class="error">highlight_off</mat-icon>
          </ng-template>
          <ng-template [ngIf]="roundResult === undefined">
            <mat-icon class="waiting">schedule</mat-icon>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-12 mb-5">
      <mat-progress-bar color="primary" [value]="progressBarValue">
      </mat-progress-bar>
    </div>
    <div class="col-12 mb-3">
      <h3><b>Challenge:</b> {{ challenge }}</h3>
    </div>
    <div class="col-12 mb-5">
      <mat-form-field class="input">
        <mat-label>Result</mat-label>
        <input
          matInput
          type="number"
          #result
          autocomplete="off"
          maxlength="5"
          [disabled]="isInputDisabled"
        />
      </mat-form-field>
    </div>
    <div class="col-12 actions">
      <button
        mat-raised-button
        class="mr-2"
        color="primary"
        (click)="sendResult(result)"
        [disabled]="isInputDisabled"
      >
        OK
      </button>
    </div>
  </div>
</div>
