<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Name:</mat-label>
      <input matInput type="text" formControlName="name" autocomplete="off" />
      <b
        *ngIf="
          createForm.controls.name.touched && createForm.controls.name.invalid
        "
        >Name Required</b
      >
    </mat-form-field>
    <div>
      {{ createForm.controls.rounds.value }}
      <mat-slider
        min="1"
        max="10"
        step="1"
        formControlName="rounds"
      ></mat-slider>
    </div>
  </div>
  <button
    mat-raised-button
    class="mr-2"
    color="primary"
    [disabled]="createForm.invalid"
  >
    Create
  </button>
  <button mat-raised-button color="secondary" routerLink="/">Back</button>
</form>
